.animal-list {
  width: 80%;
}

.animal-list-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
}

.animal-list-item:last-child {
  border-bottom: 0;
}

/* .animal-list-li:nth-child(even) {
  background-color: whitesmoke;
}

.animal-list-li:nth-child(odd) {
  background-color: gainsboro;
} */
