.nav {
  overflow: hidden;
  background-color: saddlebrown;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: none;
}

.tree {
  font-size: 1.25rem;
}

.nav-link,
.nav-logo {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 0.75rem;
}

.nav-link:hover,
.nav-logo:hover {
  color: burlywood;
}

.hamburger-menu {
  color: white;
  display: inline-block;
  border: none;
  padding: 0.5rem;
  margin: 0;
  background: none;
  font-size: 1.25rem;
}
