.scavenger-hunt-card {
  display: flex;
  flex-direction: column;
  background-color: saddlebrown;
}

.scavenger-hunt-card:hover {
  opacity: 0.5;
}

.scavenger-hunt-title-container {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.scavenger-hunt-title {
  color: white;
  font-size: 1.25rem;
}

.scavenger-hunt-image {
  width: 100%;
}

.scavenger-hunt-check {
  color: white;
  font-size: 1.25rem;
}
